.results-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 20px;
}

.results-title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--lines);
  margin-bottom: 24px;
  width: 100%;
}

.results-title p {
  display: block;
  font-size: 18px;
  color: var(--dark-shades);
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.no-results-found {
  color: var(--dark-accent);
}

.grid-pagination {
  margin-top: 40px;
  width: 100%;
}

.grid-pagination .pagination {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.grid-pagination .pagination li {
  margin: 0 2px;
  border: 1px solid var(--primary);
}

.grid-pagination .pagination li.active {
  background: var(--primary);
}

.grid-pagination .pagination li a {
  display: block;
  padding: 6px 12px;
  color: var(--primary);
}

.grid-pagination .pagination li.active a {
  color: var(--white);
}

@media (max-width: 860px) {
  .grid-container {
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
