.home-container {
  width: 100%;
  max-width: 730px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.home-container img {
  display: block;
}
