.card-container {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 var(--card-shadow);
  background-color: var(--white);
}

.profile-image-container {
  background: transparent;
  width: 100%;
}

.profile-image-container img {
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.profile-info-container {
  padding: 15px 10px 5px;
  display: flex;
  flex-direction: column;
}

.profile-info-container h5 {
  display: inline-block;
  color: var(--dark-shades);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.profile-info-container a {
  display: inline-block;
  color: var(--secondary-1);
  font-size: 12px;
  margin-bottom: 5px;
}

.profile-info-container p {
  display: inline-block;
  color: var(--dark-accent);
  font-size: 12px;
}

.see-more-container {
  padding: 15px 10px;
}

.see-more-container button {
  outline: none;
  border: none;
  background: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  border-radius: 20px;
  height: 36px;
  cursor: pointer;
}
