.modal-mask {
  position: fixed;
  background-color: var(--modal-mask-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  padding: 20px;
}

.modal-body {
  width: 100%;
  max-width: 980px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 0 6px 0 var(--card-shadow);
  padding: 30px;
}

.modal-show {
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
}

.modal-hide {
  opacity: 0;
  width: 0;
  height: 0;
}

.modal-content {
  display: flex;
  width: 100%;
}

.profile-image {
  margin-right: 20px;
  width: 266px;
  height: 266px;
}

.profile-image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 0 0;
  justify-content: space-between;
}

.info-header {
  padding-bottom: 5px;
  border-bottom: 1px solid var(--lines);
}

.info-header h4 {
  display: inline-block;
  font-size: 18px;
  color: var(--dark-shades);
  font-weight: normal;
  text-transform: capitalize;
}

.info-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 24px 0;
  justify-content: space-between;
}

.info-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-row .info-col:nth-child(2) {
  text-align: right;
}

.info-col .label {
  color: var(--dark-shades);
  margin-bottom: 2px;
}

.info-col .value {
  color: var(--dark-accent);
}

.modal-close-btn {
  align-self: flex-end;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 500;
  height: 36px;
  border: 1px solid var(--primary);
  border-radius: 4px;
  outline: none;
  background: var(--white);
  cursor: pointer;
  padding: 6px 16px;
}

@media (max-width: 640px) {
  .modal-body {
    padding: 20px;
  }

  .profile-image {
    height: auto;
  }
}

@media (max-width: 600px) {
  .modal-body {
    padding: 20px;
  }

  .modal-content {
    flex-direction: column;
  }

  .profile-image {
    width: 100%;
    margin-bottom: 20px;
  }

  .info-row {
    margin-bottom: 20px;
  }
}
