.header {
  width: 100%;
  margin: 0 auto;
  height: 56px;
  background-color: var(--white);
  box-shadow: 0 4px 4px 0 var(--header-footer-shadow);
}

.header-content {
  width: 100%;
  max-width: 1280px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.header-logo {
  margin-right: 40px;
}

.search-input {
  width: 100%;
  display: flex;
  position: relative;
}

.search-input input {
  outline: none;
  border: 1px solid var(--lines);
  border-radius: 4px;
  height: 36px;
  width: 100%;
  padding: 10px;
  font-size: 12px;
  color: var(--light-accent);
}

.search-input button {
  color: var(--white);
  width: 36px;
  height: 36px;
  background: var(--primary);
  border: none;
  position: absolute;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: -2px 0 4px 0 var(--input-btn-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header-content {
    padding: 0 20px;
  }

  .header-logo {
    margin-right: 20px;
    cursor: pointer;
  }
}
