.footer {
  width: 100%;
  margin: 0 auto;
  height: 56px;
  background-color: var(--white);
  box-shadow: 0 -4px 4px 0 var(--header-footer-shadow);
}

.footer-content {
  width: 100%;
  max-width: 1280px;
  height: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content p {
  color: var(--dark-accent);
}
