:root {
  --font: "Roboto", sans-serif;
  --primary: #8c56c2;
  --secondary-1: #03cada;
  --white: #ffffff;
  --light-shades: #f1f1ef;
  --dark-shades: #2f2544;
  --lines: #e1dfe0;
  --dark-accent: #7b6490;
  --light-accent: #a99faa;
  --card-shadow: rgba(47, 37, 68, 0.25);
  --header-footer-shadow: rgba(47, 37, 68, 0.15);
  --input-btn-shadow: rgba(0, 0, 0, 0.25);
  --modal-mask-shadow: rgba(47, 37, 68, 0.45);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

* {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  font-size: 14px;
}

a {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-shades);
}

ul,
li {
  list-style: none;
}
