.layout {
  width: 100%;
  background: transparent;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.layout.image-bg {
  background-image: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--light-shades);
  background-blend-mode: overlay;
}
